@import "tailwindcss";

/* eslint-disable */
@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-input-bg: var(--input-bg);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.96 0.01 240);
  --foreground: oklch(0.372 0.044 257.287);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.372 0.044 257.287);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.372 0.044 257.287);
  --primary: oklch(0.63 0.17 265);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted-foreground: oklch(0.556 0 0);
  
  --accent: oklch(0.97 0.014 254.604 / 0.7);
  --accent-border: oklch(0.882 0.059 254.128 / 0.8);
  --accent-link: oklch(0.546 0.245 262.881);
  --accent-text: oklch(0.278 0.033 256.848);

  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.99 0.01 255);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --input-bg: transparent;
  --ring: oklch(0.63 0.17 265 / 0.5);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.85 0.02 257);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.85 0.02 257);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.85 0.02 257);
  --primary: oklch(0.63 0.17 265);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted-foreground: oklch(0.708 0 0);

  --accent: oklch(0.63 0.17 265 / 0.1);
  --accent-border: oklch(0.63 0.17 265 / 0.3);
  --accent-link: oklch(0.7 0.18 260);
  --accent-text: oklch(0.85 0.02 257);
  
  --destructive: oklch(0.704 0.191 22.216);
  --destructive-foreground: oklch(0.99 0.01 255);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --input-bg: transparent;
  --ring: oklch(0.556 0 0);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}